In [1]:
import pandas as pd
import numpy as np
import os
import csv
import urllib3

In [2]:
os.getcwd()
os.chdir('C:\\Users\\X268765\\Documents\\DQ\\Python')

In [4]:
repetidos=pd.read_csv('http://asset.nngg.corp:10000/links_logs/ac_santander/ImportExport/reporting/TRIM/REPETIDOS_MAD_20160816_20180817.csv',sep=';')
repetidos.to_csv('REPETIDOS_MAD_20160816_20180817.csv',sep=';',index=False)

In [5]:
repetidos[repetidos['MAX CONSECUTIVE REPETITIONS']>=20]

,SYMBOL,DESCRIPTION,LIST,ALIAS,CODE,FIELD,COORDINATES,NRECORDS,TOTAL REPETITIONS,MAX CONSECUTIVE REPETITIONS,ACTUAL REPETITIONS,REPETITIONS DATES
3070,ISS-PE-USD-3Y,ISS-PERU-USD-3Y,MAD_CR_SOVEREIGN_SPREAD,ALIAS_AIRE_HS_MAD,ISS-PE-USD-3Y,EOD_CLOSE,NaN,520,37,21,0,20161010|20161013|20161017|20161026|20161027|2...
3083,ISS-PE-USD-5Y,ISS-PERU-USD-5Y,MAD_CR_SOVEREIGN_SPREAD,ALIAS_AIRE_HS_MAD,ISS-PE-USD-5Y,EOD_CLOSE,NaN,520,34,21,0,20161010|20161013|20161017|20161026|20161027|2...
3088,ISS-NL-EUR-1Y,ISS-NETHERLANDS-EUR-1Y,MAD_CR_SOVEREIGN_SPREAD,ALIAS_AIRE_HS_MAD,ISS-NL-EUR-1Y,EOD_CLOSE,NaN,520,108,87,87,20161226|20170321|20170322|20170323|20170324|2...
3133,ISS-PE-USD-7Y,ISS-PERU-USD-7Y,MAD_CR_SOVEREIGN_SPREAD,ALIAS_AIRE_HS_MAD,ISS-PE-USD-7Y,EOD_CLOSE,NaN,520,68,34,0,20161010|20161013|20161017|20161026|20161027|2...
3334,ISS-BONDCURVE-PL-PLN-7Y,ISS-BONDCURVE-PL-PLN-7Y,MAD_CR_ISS_BOND_SPREAD,ALIAS_AIRE_HS_MAD,ISS-PL-N-PLN-7Y,EOD_CLOSE,NaN,520,35,29,0,20161017|20161226|20170330|20170412|20170413|2...